@import './fonts.scss';
@import 'modern-normalize';
@import './components/header.scss';
@import './components/menu.scss';
@import './components/hero.scss';
@import './components/about.scss';
@import './components/challenges.scss';
@import './components/strategy.scss';
@import './components/map.scss';
@import './components/play.scss';
@import './components/screenshots.scss';
@import './components/reviews.scss';
@import './components/faq.scss';
@import './components/contact.scss';
@import './components/footer.scss';
@import './components/banner.scss';
@import './components/privacy-header.scss';
@import './components/privacy.scss';
